<!doctype html>
<html>
<head>
    <title>Simple Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>

<div class="container">

    <div class="jumbotron text-center">

        <h1><strong> Hello!</strong></h1>
        Welcome to Our App,</br><h1>Ready to get started?</h1></br>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> <strong>Local Login</strong></a></br>
        </br><p>Dont have an account?<a href="/signup" > Register</a>
    </div>

</div>
</body>
</html>
